{% extends "website/index.html" %}
{% load staticfiles%}

{% block title %}ROBCO_ROOTKIT{% endblock %}
{% block header %}
  <script type='text/javascript' src='{% static 'website/code.js' %}'></script>
{% endblock %}

{% block content %}
  <form method='post'>
    <p id='word_p'>
      <textarea id='words' name='words' rows='3'></textarea>
    </p>
    <div id='guess'>
      <p id='suggest'>
        Suggested word: <select id='word_choice'></select>
      </p>
      <div class='row'>
        <div id='correct_mask' class='disabled'>
          <select name='correct' id='correct'>
            <option value='1'>0</option>
          </select>
        </div>
        <div id='btn_submit_mask'>
          <input type='button' value='Submit Input' id='btn_submit' />
        </div>
      </div>
    </div>
    <p id='message'>&nbsp;</p>
    <table>
      <thead>
        <tr>
          <th>Word</th>
          <th>Score</th>
          <th>Position</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </form>
{% endblock %}
